{% assign related_posts = site.related_posts | limit: 3 %}
{% if related_posts.size > 0 %}
  <section class="related-posts">
    <h3>{{ site.data.settings.related_posts }}</h3>
    <div class="related-posts-grid">
      {% for post in related_posts %}
        <article class="related-post">
          {% if post.image %}
            <div class="related-post-image">
              <a href="{{ site.baseurl }}{{ post.url }}">
                <img src="{{ site.baseurl }}/assets/img/{{ post.image }}" 
                     alt="{{ post.title }}" 
                     loading="lazy">
              </a>
            </div>
          {% endif %}
          <div class="related-post-content">
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
            <time>{{ post.date | date: "%B %d, %Y" }}</time>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
{% endif %}