---
---

$sans-serif-font-family: "Quattrocento Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$serif-font-family: "PT Serif", Georgia, "Times New Roman", serif;
$code-font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;

$body-color: #505050;
$link-color: #2a6496;

$code-background-color: #f8f8f8;
$pagination-button-color: #e0e0e0;

$dark-gray-color: #333;
$light-gray-color: #777;
$extra-light-gray-color: #e0e0e0;

$container-responsive-width: 768px;
$elements-responsive-width: 30em;

$icon-transition-time: 0.3s;
$envelope-color: #f39c12;
$twitter-color: #1da1f2;
$instagram-color: #e1306c;
$github-color: #333;
$linkedin-color: #0077b5;
$facebook-color: #4267b2;
$pinterest-color: #e60023;
$medium-color: #00ab6c;
$codepen-color: #000;
$rss-color: #ffa500;

@import "-sections-dir";