---
/** Connection external link icon */
const { href } = Astro.props;
---

<a class="link" href={href}>
  <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
    <polygon fill="currentColor" fill-rule="nonzero" points="13 20 11 20 11 8 5.5 13.5 4.08 12.08 12 4.16 19.92 12.08 18.5 13.5 13 8"></polygon>
  </svg>
</a>
<style>
  .link {
    width: 1.125rem;
    height: 1.125rem;
    aspect-ratio: 1 / 1;
    color: var(--dark);
    transform: rotate(45deg);
  }

  .link:hover {
    color: var(--dimmed);
  }
</style>